/* Navigation */
.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #ff523b;
}

.cart-item {
    margin-bottom: 1rem;
}

/* Banner */
.banner {
    background-image: url('img/maskk.jpg'); 
    background-size: cover;
    background-position: center;
    height: 550px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #f2eded; /* Text color */
}

.banner-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}

.banner-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.banner-content .btn {
    font-size: 20px;
}

.button {
    background-color: black;
    color: white; 
}



/* Feature Products Card */
.card-title a {
    color: #333; 
    text-decoration: none; 
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
    .banner-image {
        min-height: 300px; 
    }
}